* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  transition: 0.7s;
}
body {
  background-color: #e0f1e7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}
.container {
  max-width: 60%;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
h3 {
  padding: 15px 0;
  color: #2c3a3b;
  font-weight: 600;
}
.parent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1fr 1fr;
  gap: 8px;
}
input {
  width: 98%;
  padding: 15px;
  border-radius: 6px;
  outline: none;
  border: none;
  border: 1.5px solid #aaa;
  margin: 8px 0;
}
label {
  font-size: 12px;
  font-weight: 500;
  color: #aaa;
}
@media (max-width: 767px) {
  .container {
    min-width: 100%;
  }
  .parent {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 768px) {
  input[type="email"] {
    width: 200%;
    grid-template-columns: 1fr;
  }
}
.childParent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 8px 0;
}
.cheek {
  display: flex;
  border: 1px solid #aaa;
  align-items: center;
  border-radius: 6px;
  width: 97%;
  padding: 10px;
}
.cheek input {
  width: 20px;
  margin-left: 10px;
  padding-left: 10px;
}
@media (max-width: 768px) {
  .childParent {
    grid-template-columns: 1fr;
    gap: 15px;
  }
  .cheek {
    width: 98%;
    padding: 10px;
  }
}
/* Start Message */
#message {
  height: 150px;
  padding: 5px;
  width: 98%;
  outline: none;
  border-radius: 9px;
  margin: 8px 0 0;
}

/* Span */
span {
  color: #0c7d69;
  font-size: 13px;
}
/* End Span */
/* Cheeker */
.parent-Cheek {
  display: grid;
  align-items: center;
  grid-template-columns: 10px 1fr;
  gap: 10px;
  margin-left: 10px;
  margin: 10px 0;
}

#Chek {
  accent-color: #0c7d69;
  width: 15px;
}
input[type="radio"] {
  accent-color: #0c7d69;
}
.parentSubmit input {
  background-color: #0c7d69;
  padding: 10px;
  width: 100%;
  color: white;
  margin: 15px 0;
}
#Submit {
  cursor: pointer;
}
.active {
  /* border-color: #0c7d69; */
  animation-name: ainmationDorder;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.Active {
  border-color: #0c7d69;
  background-color: #e0f1e7;
}
p {
  font-size: 10px;
  color: rgba(218, 4, 8, 0.648);
  letter-spacing: 0.8px;
  font-weight: 500;
  display: none;
  animation-name: ainmation;
  animation-duration: 0.3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-out;
}
.parente {
  margin: 5px 0;
}

@keyframes ainmation {
  0% {
    padding-left: 2px;
  }
  100% {
    padding-right: 2px;
  }
}
@keyframes ainmationDorder {
  0% {
    border-color: #05997e;
  }
  50% {
    border-color: #0c7d69;
  }
  75% {
    border-color: #016956;
  }
  100% {
    border-color: #023128;
  }
}
html {
  scroll-behavior: smooth;
}
